body {
    size-adjust: 2vw;
    transition: 100ms;
    font-size: 3vw;
    background-color: gray;
    user-select: none;
}

.border {
    margin-left: 30%;
    margin-right: 30%;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
}

#click {
    flex: 1;
    border-radius: 100%;
    background-color: red;
    width: 10vw;
    height: 10vw;
    transition: .3s
}

#click:hover {
    background-color: rgb(223, 0, 0)
}
.shape {
    position: absolute;
}